<!-- layouts/_flash -->
<% flash.each do |name, msg| -%>
<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span>
  </button>
  <%= msg %>
</div>
<% end %>
<!-- layouts/_flash -->
